<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Directory\Model\ResourceModel\Region\Collection" type="Magejapan\Localize\Model\ResourceModel\Directory\Region\Collection"/>

    <type name="Magento\Directory\Model\Currency">
        <plugin name="modify_precision" type="Magejapan\Localize\Model\Directory\Plugin\Precision" />
    </type>
    <type name="Magento\Directory\Model\PriceCurrency">
        <plugin name="modify_format" type="Magejapan\Localize\Model\Directory\Plugin\Format" />
        <plugin name="modify_round" type="Magejapan\Localize\Model\Directory\Plugin\PriceRound" />
    </type>
    <type name="Magento\Framework\Locale\Format">
        <plugin name="modify_price_format" type="Magejapan\Localize\Model\Locale\Plugin\ModifyPriceFormat" />
    </type>

    <type name="Magento\Eav\Model\Entity\Setup\PropertyMapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="jplocalize" xsi:type="string">Magento\Customer\Model\ResourceModel\Setup\PropertyMapper</item>
            </argument>
        </arguments>
    </type>
</config>